<div>
  <div>
    <h2 class="card-header text-center">{{ title }}</h2>
  </div>

  <div class="card-body">
    <h5 class="card-title">Enter the Username of the User you'd like to find</h5>
    <div class="input-group input-group-lg">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-lg">Username</span>
      </div>
      <!-- 2 way property binding, to bind the input to a property that belongs to the class-->
      <input [(ngModel)]="username" name="userId" type="text" class="form-control" aria-label="Large"
        aria-describedby="inputGroup-sizing-sm">
    </div>
    <button class="btn-secondary btn" (click)="findByUsername()">Find</button>

    <div *ngIf="user.id > 0" id="user-info">
      <li class="list-group-item">Id: {{user.id}}</li>
      <li class="list-group-item">First Name: {{user.firstName}}</li>
      <li class="list-group-item">Last Name: {{user.lastName}}</li>
      <li class="list-group-item">Username: {{user.username}}</li>
    </div>
  </div>
</div>
